* {
  min-height: 16px;
  min-width: 10px;
  color: rgba(254, 255, 255, 0.7);
  font-weight: 500;
  border: none;
  text-shadow: 0 0 4px rgba(144, 147, 154, 0.5);
  box-shadow: none;
  background: transparent;
  padding: 0px 1px;
  border-radius: 15px;
  margin: 1px 1px;
}

window {
  border: 2px solid rgba(254, 255, 255, 0.7);
  border-radius: 20px;
}

#custom-power {
  font-weight: 900;
  margin-left: 20px;
}

#clock {
  margin-left: 20px;
  margin-right: 20px;
}

#workspaces {
  border-radius: 20px;
}

#workspaces button.active {
  border: 1px solid rgba(254, 255, 255, 0.7);
  box-shadow: 0 0 4px rgba(144, 147, 154, 0.5);
  transition: 0.5s ease-in;
}

#workspaces button:hover {
  border: 1px solid rgba(254, 255, 255, 0.7);
  box-shadow: 0 0 4px rgba(89, 125, 255, 0.7);
  transition: 0.5s ease-in;
}

#custom-media {
  margin-left: 60px;
  margin-right: 50px;
}

#custom-notification {
  margin-right: 20px;
}
