@define-color moon  	#feffff;
@define-color moon_a 	rgba(254, 255, 255, 0.7);
@define-color ocean 	#12161f;
@define-color ocean_a	rgba(18, 22, 31, 0.7);
@define-color surface   #90939A;
@define-color surface_a rgba(144, 147, 154, 0.5);

* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 11px;
  font-weight: 500;
  color: @moon_a;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

window {
  background: @ocean_a;
  border-radius: 8px;
}

#workspaces {
  background: @ocean_a;
  border: 1px solid @moon_a;
}

#workspaces button {
  margin: 1px 2px;
}

#workspaces button.active {
  background: @ocean_a;
  border: 1px solid @moon_a;
}

#workspaces button:hover {
  border: 1px solid @moon_a;
  background: @ocean_a;
  box-shadow: none;
}

#clock {
  background: @ocean_a;
  border: 1px solid @moon_a;
  padding: 2px 8px;
}

#cpu {
  background: @ocean_a;
  border: 1px solid @moon_a;
  padding: 2px 8px;
}

#memory {
  background: @ocean_a;
  border: 1px solid @moon_a;
  padding: 2px 8px;
}

#temperature {
  background: @ocean_a;
  border: 1px solid @moon_a;
  padding: 2px 8px;
}

#custom-hyprnosis {
  background: @ocean_a;
  border: 1px solid @moon_a;
  margin-left: 10px;
  padding: 0px 10px;
}

#custom-media {
  margin: 0 20px;
  background: @ocean_a;
  border: 1px solid @moon_a;
  padding: 2px 10px;
  margin-left: 60px;
}

#custom-notification {
  background: @ocean_a;
  border: 1px solid @moon_a;
  margin-right: 10px;
  padding: 2px 10px;
}

#pulseaudio {
  background: @ocean_a;
  border: 1px solid @moon_a;
  padding: 2px 10px;
}

#pulseaudio.sink-muted {
    color: @surface;
    background: @ocean_a;
}

#pulseaudio.microphone {
    color: @moon_a;
    background: @ocean_a;
}

#pulseaudio.microphone.source-muted {
    color: @surface;
    background: @ocean_a;
}

#pulseaudio-slider {
    background: @ocean_a;
    border: 1px solid @moon_a;
    padding: 0 12px;
    margin: 0 4px;
}

#pulseaudio-slider slider {
    background: @ocean_a;
    border: 1px solid @moon_a;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 100px;
    background-color: @ocean_a;
}
#pulseaudio-slider highlight {
    min-width: 8px;
    min-height: 8px;
    border-radius: 4px;
    background: @moon_a;
}

#custom-wifi {
  background: @ocean_a;
  border: 1px solid @moon_a;
  padding: 2px 14px;
}

#bluetooth {
  background: @ocean_a;
  border: 1px solid @moon_a;
  padding: 2px 10px;
}

#backlight {
  background: @ocean_a;
  border: 1px solid @moon_a;
  padding: 2px 10px;
}

#backlight-slider {
    background: @ocean_a;
    border: 1px solid @moon_a;
    padding: 0 12px;
    margin: 0 4px;
}

#backlight-slider slider {
    background: @ocean_a;
    border: 1px solid @moon_a;
    box-shadow: none;
}
#backlight-slider trough {
    min-height: 8px;
    min-width: 100px;
    background-color: @ocean_a;
}
#backlight-slider highlight {
    min-width: 8px;
    min-height: 8px;
    border-radius: 4px;
    background: @moon_a;
}

#battery {
  background: @ocean_a;
  border: 1px solid @moon_a;
  padding: 2px 14px;
}

tooltip {
  background: @ocean_a;
  border: 1px solid @moon_a;
  border-radius: 6px;
}

tooltip label {
  color: @moon;
  font-size: 11px;
  padding: 4px;
}

#taskbar {
  background: @ocean_a;
  border: 1px solid @moon_a;
}

#taskbar button {
  margin: 1px 2px;
  box-shadow: none;
}

#taskbar button:hover {
  background: @ocean_a;
  border: 1px solid @moon_a;
  box-shadow: none;
 }

#taskbar button.active {
  background: @ocean_a;
  border: 1px solid @moon_a;
  color: @moon;
}
