@define-color blue rgba(24, 104, 193, 0.7);
@define-color blue-dim rgba(24, 104, 193, 0.1);
@define-color gray-blue rgba(127, 174, 204, 0.7);
@define-color gray-blue-dim rgba(127, 174, 204, 0.1);
@define-color white rgba(250, 250, 250, 0.9);
@define-color white-dim rgba(250, 250, 250, 0.2);
@define-color black rgba(0, 0, 2, 0.5);

* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 11px;
  font-weight: 500;
  color: @white;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

window {
  background: @black;
  border-radius: 8px;
}

#workspaces {
  background: @blue-dim;
  border: 1px solid @gray-blue;
}

#workspaces button {
  margin: 1px 2px;
}

#workspaces button.active {
  background: @blue-dim;
  border: 1px solid @gray-blue;
}

#workspaces button:hover {
  border: 1px solid @blue;
  background: @blue-dim;
  box-shadow: none;
}

#clock {
  background: @blue-dim;
  border: 1px solid @gray-blue;
  padding: 2px 8px;
}

#custom-power {
  font-weight: 900;
  background: @blue-dim;
  border: 1px solid @gray-blue;
  margin-left: 10px;
  padding: 0px 10px;
}

#custom-media {
  margin: 0 20px;
  background: @blue-dim;
  border: 1px solid @gray-blue;
  padding: 2px 10px;
  margin-left: 60px;
}

#custom-notification {
  background: @blue-dim;
  border: 1px solid @gray-blue;
  margin-right: 10px;
  padding: 2px 10px;
}

#pulseaudio {
  background: @blue-dim;
  border: 1px solid @gray-blue;
  padding: 2px 10px;
}

#pulseaudio.sink-muted {
    color: @blue;
    background: @blue-dim;
}

#pulseaudio.microphone {
    color: @foreground;
    background: rgba(255, 255, 255, 0.1);
}

#pulseaudio.microphone.source-muted {
    color: @blue;
    background: @blue-dim;
}

#pulseaudio-slider {
    background: @blue-dim;
    border: 1px solid @gray-blue;
    padding: 0 12px;
    margin: 0 4px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    background: @gray-blue;
    border: 1px solid @gray-blue;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 100px;
    background-color: @gray-blue-dim;
}
#pulseaudio-slider highlight {
    min-width: 8px;
    min-height: 8px;
    border-radius: 4px;
    background: @gray-blue;
}

#custom-wifi {
  background: @blue-dim;
  border: 1px solid @gray-blue;
  padding: 2px 14px;
}

#bluetooth {
  background: @blue-dim;
  border: 1px solid @gray-blue;
  padding: 2px 10px;	
}

tooltip {
  background: rgba(0, 0, 2, 0.9);
  border: 1px solid @gray-blue;
  border-radius: 6px;
}

tooltip label {
  color: @white;
  font-size: 11px;
  padding: 4px;
}

#taskbar {
  background: @blue-dim;
  border: 1px solid @gray-blue;
}

#taskbar button {
  margin: 1px 2px;
  box-shadow: none;
}

#taskbar button:hover {
  background: rgba(127, 174, 204, 0.15);
  border: 1px solid @blue;
  box-shadow: none;
 }

#taskbar button.active {
  background: @gray-blue-dim;
  border: 1px solid @gray-blue;
  color: @white-dim;
}
