@define-color blue rgba(24, 104, 193, 0.7);
@define-color blue-dim rgba(24, 104, 193, 0.1);
@define-color gray-blue rgba(127, 174, 204, 0.7);
@define-color gray-blue-dim rgba(127, 174, 204, 0.1);
@define-color white rgba(250, 250, 250, 0.9);
@define-color white-dim rgba(250, 250, 250, 0.2);
@define-color black rgba(0, 0, 2, 0.8);

* {
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-size: 11px;
  font-weight: 500;
  color: @white;
  border-radius: 10px;
  padding: 2px 1px;
  transition: 0.5s ease-in-out;
  background-color: transparent;
  outline: none;
}

window {
  background-color: @black;
  border: 2px solid @gray-blue;
  border-radius: 8px;
}

#input {
  margin: 20px 40px;
  padding: 6px 10px;
  color: @white;
  background-color: @blue-dim;
  border: 2px solid @gray-blue;
  border-radius: 8px;
}

#input:selected {
  background-color: @blue-dim;
  border: 2px solid @gray-blue;
}

#entry {
  margin: 4px 20px;
  padding: 4px 10px;
  border-radius: 8px;
  background-color: @blue-dim;
  color: @white;
}

#entry:selected {
  background-color: @blue-dim; 
  border: 1px solid @gray-blue;
  color: @white-dim;
}

#text {
  color: @white;
}

#text:selected {
  color: @white;
}

#scroll {
  margin: 0px 10px 10px 10px;
}
