@define-color moon  	#feffff;
@define-color moon_a 	rgba(254, 255, 255, 0.7);
@define-color ocean 	#12161f;
@define-color ocean_a	rgba(18, 22, 31, 0.7);
@define-color surface   #90939A;
@define-color surface_a rgba(144, 147, 154, 0.5);

* {
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-size: 14px;
  font-weight: 500;
  color: @moon;
  border-radius: 10px;
  background: transparent;
  outline: none;
  margin: 4px;
}

window {
  background-color: @ocean_a;
  border: 2px solid @moon_a;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 36px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @moon_a;
}

.box {
  background: @transparent;
}

.search-container {
  border-radius: 10px;
  background: @transparent;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @moon;
  opacity: 0.2;
}

#clear {
  color: @moon;
  opacity: 0.8;
}

.input,
#input {
  color: @moon;
  background-color: @transparent;
  border: 2px solid @moon_a;
  border-radius: 10px;
  padding: 1px;
  caret-color: @moon_a;
}

.input placeholder,
#input placeholder {
  opacity: 0.5;
}

#password,
#typeahead {
  border-radius: 8px;
}

#typeahead {
  color: @moon;
  opacity: 0.8;
}

.list,
#list {
  color: @moon;
}

child {
}

child:selected,
child:hover {  
  background: @ocean_a;
  border: 2px solid @moon_a;
}

.item-box {
}

.item-quick-activation {
  opacity: 0;
}

.item-text-box {
}

.item-subtext,
#sub {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

#icon {
  margin-right: 8px;
}

#text {
  color: @moon_a;
}

#label {
}

.preview {
  border: 2px solid @moon_a;
  padding: 10px;
  border-radius: 10px;
  color: @moon;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.calc .item-text {
  font-size: 24px;
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.keybinds-wrapper {
  border-top: 1px solid @moon_a;
  font-size: 12px;
  opacity: 0.5;
  color: @white;
}

.keybind-bind {
  font-weight: bold;
  text-transform: lowercase;
}

.error {
  padding: 10px;
  background: @moon_a;
  color: @moon;
}

:not(.calc).current {
  font-style: italic;
}
