@define-color moon  	#feffff;
@define-color moon_a 	rgba(254, 255, 255, 0.7);
@define-color ocean 	#12161f;
@define-color ocean_a	rgba(18, 22, 31, 0.7);
@define-color surface   #90939A;
@define-color surface_a rgba(144, 147, 154, 0.5);

* {
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-size: 14px;
  font-weight: 500;
  color: @moon;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  background: transparent;
  outline: none;
  margin: 4px;
}

window {
  background: @ocean_a;
  border: 2px solid @moon_a;
  border-radius: 10px;
}

#box {
  background: @ocean_a;
  padding: 36px;
  border-radius: 10px;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

#search {
  background: @ocean_a;
  padding: 8px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @moon;
  opacity: 0.2;
}

#clear {
  color: @moon;
  opacity: 0.8;
}

#password,
#input,
#typeahead {
  border-radius: 8px;
}

#input {
  color: @moon;
  background: @ocean_a;
  border: 2px solid @surface_a;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @moon;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  padding: 8px;
  border-radius: 2px;
}

child:selected,
child:hover {
  background: @ocean_a;
  border: 2px solid @surface_a;
  border-radius: 10px;
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
  color: @moon;
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: @moon;
  background: @ocean_a;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: @ocean_a;
}

