@define-color teal rgba(136, 192, 208, 0.7);
@define-color teal-dim rgba(136, 192, 208, 0.5);
@define-color light-blue rgba(129, 161, 193, 0.7);
@define-color light-blue-dim rgba(129, 161, 193, 0.5);
@define-color green rgba(143, 188, 187, 0.5);
@define-color green-dim rgba(143, 188, 187, 0.5);
@define-color dark-blue rgba(94, 129, 172, 0.5);
@define-color white rgba(255, 255, 255, 0.9);

* {
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-size: 14px;
  font-weight: 500;
  color: @white;
  border-radius: 10px;
  background: transparent;
  outline: none;
  margin: 4px;
}

window {
  background-color: @light-blue-dim;
  border: 2px solid @teal-dim;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 36px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @white;
}

.box {
  background: @transparent;
}

.search-container {
  border-radius: 10px;
  background: @transparent;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @white;
  opacity: 0.2;
}

#clear {
  color: @white;
  opacity: 0.8;
}

.input,
#input {
  color: @text;
  background-color: @transparent;
  border: 2px solid @teal-dim;
  border-radius: 10px;
  padding: 1px;
  caret-color: @teal;
}

.input placeholder,
#input placeholder {
  opacity: 0.5;
}

#password,
#typeahead {
  border-radius: 8px;
}

#typeahead {
  color: @white;
  opacity: 0.8;
}

.list,
#list {
  color: @white;
}

child {
}

child:selected,
child:hover {  
  background: @light-blue-dim;
  border: 2px solid @teal-dim;
}

.item-box {
}

.item-quick-activation {
  opacity: 0;
}

.item-text-box {
}

.item-subtext,
#sub {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

#icon {
  margin-right: 8px;
}

#text {
  color: @white;
}

#label {
}

.preview {
  border: 2px solid @teal-dim;
  padding: 10px;
  border-radius: 10px;
  color: @white;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.calc .item-text {
  font-size: 24px;
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.keybinds-wrapper {
  border-top: 1px solid @teal-dim;
  font-size: 12px;
  opacity: 0.5;
  color: @white;
}

.keybind-bind {
  font-weight: bold;
  text-transform: lowercase;
}

.error {
  padding: 10px;
  background: @light-blue-dim;
  color: @text;
}

:not(.calc).current {
  font-style: italic;
}
