@define-color teal rgba(136, 192, 208, 0.7);
@define-color teal-dim rgba(136, 192, 208, 0.5);
@define-color light-blue rgba(129, 161, 193, 0.7);
@define-color light-blue-dim rgba(129, 161, 193, 0.5);
@define-color green rgba(143, 188, 187, 0.5);
@define-color green-dim rgba(143, 188, 187, 0.5);
@define-color dark-blue rgba(94, 129, 172, 0.5);
@define-color white rgba(255, 255, 255, 0.9);

* {
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-size: 11px;
  font-weight: 500;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  margin: 4px;
}

window {
  background: @teal-dim;
  border: 2px solid @dark-blue;
}

#box {
  background: @dark-blue;
  padding: 36px;
  border-radius: 10px;
}

#search {
  background: @dark-blue;
  padding: 8px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @teal;
  opacity: 0.2;
}

#clear {
  color: @teal;
  opacity: 0.8;
}

#password,
#input,
#typeahead {
}

#input {
  color: @teal;
  background: @dark-blue;
  border: 2px solid @green-dim;
  border-radius: 10px;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @green;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  padding: 8px;
  border-radius: 10px;
}

child:selected,
child:hover {
  background: @dark-blue;
  border: 2px solid @green;
  transition: 0.3s ease-in-out;
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
  color: @white;
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  color: @green;
  background: @dark-blue;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: @dark-blue;
}
