@define-color background-darker rgba(30, 31, 41, 0.5);
@define-color background #282a36;
@define-color selection #44475a;
@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 11px;
  font-weight: 500;
  color: @foreground;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

window {
  background: @background-darker;
  border-radius: 8px;
}

#workspaces {
  background: @background;
  border: 1px solid @purple;
}

#workspaces button {
  margin: 1px 2px;
}

#workspaces button.active {
  background: @background-darker;
  border: 1px solid @purple;
}

#workspaces button:hover {
  border: 1px solid @pink;
  background: @background;
  box-shadow: none;
}

#clock {
  background: @background;
  border: 1px solid @purple;
  padding: 2px 8px;
}

#cpu {
  background: @background;
  border: 1px solid @purple;
  padding: 2px 8px;
}

#memory {
  background: @background;
  border: 1px solid @purple;
  padding: 2px 8px;
}

#temperature {
  background: @background;
  border: 1px solid @purple;
  padding: 2px 8px;
}

#custom-hyprnosis {
  background: @background;
  border: 1px solid @purple;
  margin-left: 10px;
  padding: 0px 10px;
}

#custom-media {
  margin: 0 20px;
  background: @background;
  border: 1px solid @purple;
  padding: 2px 10px;
  margin-left: 60px;
}

#custom-notification {
  background: @background;
  border: 1px solid @purple;
  margin-right: 10px;
  padding: 2px 10px;
}

#pulseaudio {
  background: @background;
  border: 1px solid @purple;
  padding: 2px 10px;
}

#pulseaudio.sink-muted {
    color: @purple;
    background: @background;
}

#pulseaudio.microphone {
    color: @foreground;
    background: @background
}

#pulseaudio.microphone.source-muted {
    color: @purple;
    background: @background;
}

#pulseaudio-slider {
    background: @background;
    border: 1px solid @purple;
    padding: 0 12px;
    margin: 0 4px;
}

#pulseaudio-slider slider {
    background: @background;
    border: 1px solid @purple;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 100px;
    background-color: @selection;
}
#pulseaudio-slider highlight {
    min-width: 8px;
    min-height: 8px;
    border-radius: 4px;
    background: @green;
}

#custom-wifi {
  background: @background;
  border: 1px solid @purple;
  padding: 2px 14px;
}

#bluetooth {
  background: @background;
  border: 1px solid @purple;
  padding: 2px 10px;	
}

#backlight {
  background: @background;
  border: 1px solid @purple;
  padding: 2px 10px;	
}

#backlight-slider {
    background: @background;
    border: 1px solid @purple;
    padding: 0 12px;
    margin: 0 4px;
}

#backlight-slider slider {
    background: @background;
    border: 1px solid @purple;
    box-shadow: none;
}
#backlight-slider trough {
    min-height: 8px;
    min-width: 100px;
    background-color: @selection;
}
#backlight-slider highlight {
    min-width: 8px;
    min-height: 8px;
    border-radius: 4px;
    background: @green;
}

#battery {
  background: @background;
  border: 1px solid @purple;
  padding: 2px 14px;	
}

tooltip {
  background: @background;
  border: 1px solid @purple;
  border-radius: 6px;
}

tooltip label {
  color: @comment;
  font-size: 11px;
  padding: 4px;
}

#taskbar {
  background: @background;
  border: 1px solid @purple;
}

#taskbar button {
  margin: 1px 2px;
  box-shadow: none;
}

#taskbar button:hover {
  background: @background;
  border: 1px solid @pink;
  box-shadow: none;
 }

#taskbar button.active {
  background: @background-darker;
  border: 1px solid @purple;
  color: @comment;
}
