@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;
@define-color crust_a rgba(17, 17, 27, 0.5);

* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 11px;
  font-weight: 500;
  color: @lavender;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

window {
  background: @crust_a;
  border-radius: 8px;
}

#workspaces {
  background: @base;
  border: 1px solid @lavender;
}

#workspaces button {
  margin: 1px 2px;
}

#workspaces button.active {
  background: @base;
  border: 1px solid @lavender;
}

#workspaces button:hover {
  border: 1px solid @mauve;
  background: @base;
  box-shadow: none;
}

#clock {
  background: @base;
  border: 1px solid @lavender;
  padding: 0px 10px;
}

#cpu {
  background: @base;
  border: 1px solid @lavender;
  padding: 0px 10px;
}

#memory {
  background: @base;
  border: 1px solid @lavender;
  padding: 0px 10px;
}

#temperature {
  background: @base;
  border: 1px solid @lavender;
  padding: 0px 10px;
}

#custom-hyprnosis {
  background: @base;
  border: 1px solid @lavender;
  margin-left: 10px;
  padding: 0px 10px;
}

#custom-media {
  margin: 0 20px;
  background: @base;
  border: 1px solid @lavender;
  padding: 0px 10px;
  margin-left: 60px;
}

#custom-notification {
  background: @base;
  border: 1px solid @lavender;
  margin-right: 10px;
  padding: 0px 10px;
}

#pulseaudio {
  background: @base;
  border: 1px solid @lavender;
  padding: 0px 10px;
}

#pulseaudio.sink-muted {
    color: @mauve;
    background: @blue-dim;
}

#pulseaudio.microphone {
    color: @mauve;
    background: @base;
}

#pulseaudio.microphone.source-muted {
    color: @mauve;
    background: @base;
}

#pulseaudio-slider {
    background: @base;
    border: 1px solid @lavender;
    padding: 0 12px;
    margin: 0 4px;
}

#pulseaudio-slider slider {
    background: @base;
    border: 1px solid @lavender;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 100px;
    background-color: @lavender;
}
#pulseaudio-slider highlight {
    min-width: 7px;
    min-height: 7px;
    border-radius: 4px;
    background: @lavender;
}

#custom-wifi {
  background: @base;
  border: 1px solid @lavender;
  padding: 0px 14px;
}

#battery {
  background: @base;
  border: 1px solid @lavender;
  padding: 0px 10px;
}

#bluetooth {
  background: @base;
  border: 1px solid @lavender;
  padding: 0px 10px;	
}

#backlight {
  background: @base;
  border: 1px solid @lavender;
  padding: 0px 10px;	
}

#backlight-slider {
    background: @base;
    border: 1px solid @lavender;
    padding: 0 12px;
    margin: 0 4px;
}

#backlight-slider slider {
    background: @base;
    border: 1px solid @lavender;
    box-shadow: none;
}
#backlight-slider trough {
    min-height: 8px;
    min-width: 100px;
    background-color: @lavender;
}
#backlight-slider highlight {
    min-width: 7px;
    min-height: 7px;
    border-radius: 4px;
    background: @lavender;
}

tooltip {
  background: @base;
  border: 1px solid @lavender;
  border-radius: 6px;
}

tooltip label {
  color: @text;
  font-size: 11px;
  padding: 4px;
}

#taskbar {
  background: @base;
  border: 1px solid @lavender;
}

#taskbar button {
  margin: 1px 2px;
  box-shadow: none;
}

#taskbar button:hover {
  background: @base;
  border: 1px solid @mauve;
  box-shadow: none;
 }

#taskbar button.active {
  background: @base;
  border: 1px solid @lavender;
  color: @text;
}
