* {
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-size: 11px;
  font-weight: 500;
  color: rgba(250, 250, 250, 0.9);
  border-radius: 10px;
  padding: 2px 1px;
  transition: 0.5s ease-in-out;
  background-color: transparent;
  outline: none;
}

window {
  background-color: rgba(0, 0, 2, 0.7);
  border: 2px solid rgba(159, 150, 217, 0.3);
  border-radius: 8px;
}

#input {
  margin: 20px 40px;
  padding: 6px 10px;
  color: rgba(250, 250, 250, 0.9);
  background-color: rgba(127, 174, 204, 0.08);
  border: 2px solid rgba(127, 174, 204, 0.3);
  border-radius: 8px;
}

#input:selected {
  background-color: rgba(127, 174, 204, 0.15);
  border: 2px solid rgba(127, 174, 204, 0.4);
}

#entry {
  margin: 4px 20px;
  padding: 4px 10px;
  border-radius: 8px;
  background-color: rgba(159, 150, 217, 0.1);
  color: rgba(250, 250, 250, 0.8);
}

#entry:selected {
  background-color: rgba(127, 174, 204, 0.2);
  border: 1px solid rgba(127, 174, 204, 0.6);
  color: rgba(250, 250, 250, 0.2);
}

#text {
  color: rgba(250, 250, 250, 0.9);
}

#text:selected {
  color: rgba(250, 250, 250, 0.9);
}

#scroll {
  margin: 0px 10px 10px 10px;
}

