@define-color teal rgba(136, 192, 208, 0.7);
@define-color teal-dim rgba(136, 192, 208, 0.1);
@define-color light-blue rgba(129, 161, 193, 0.7);
@define-color light-blue-dim rgba(129, 161, 193, 0.1);
@define-color green rgba(143, 188, 187, 0.9);
@define-color green-dim rgba(143, 188, 187, 0.2);
@define-color dark-blue rgba(94, 129, 172, 0.5);

* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 11px;
  font-weight: 500;
  color: @green;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

window {
  background: @dark-blue;
  border-radius: 8px;
}

#workspaces {
  background: @teal-dim;
  border: 1px solid @light-blue;
}

#workspaces button {
  margin: 1px 2px;
}

#workspaces button.active {
  background: @teal-dim;
  border: 1px solid @light-blue;
}

#workspaces button:hover {
  border: 1px solid @teal;
  background: @teal-dim;
  box-shadow: none;
}

#clock {
  background: @teal-dim;
  border: 1px solid @light-blue;
  padding: 2px 8px;
}

#custom-hyprnosis {
  background: @teal-dim;
  border: 1px solid @light-blue;
  margin-left: 10px;
  padding: 0px 10px;
}

#custom-media {
  margin: 0 20px;
  background: @teal-dim;
  border: 1px solid @light-blue;
  padding: 2px 10px;
  margin-left: 60px;
}

#custom-notification {
  background: @teal-dim;
  border: 1px solid @light-blue;
  margin-right: 10px;
  padding: 2px 10px;
}

#pulseaudio {
  background: @teal-dim;
  border: 1px solid @light-blue;
  padding: 2px 10px;
}

#pulseaudio.sink-muted {
    color: @teal;
    background: @teal-dim;
}

#pulseaudio.microphone {
    color: @green;
    background: rgba(143, 188, 187, 0.1);
}

#pulseaudio.microphone.source-muted {
    color: @teal;
    background: @teal-dim;
}

#pulseaudio-slider {
    background: @teal-dim;
    border: 1px solid @light-blue;
    padding: 0 12px;
    margin: 0 4px;
}

#pulseaudio-slider slider {
    background: @light-blue;
    border: 1px solid @light-blue;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 100px;
    background-color: @light-blue-dim;
}
#pulseaudio-slider highlight {
    min-width: 8px;
    min-height: 8px;
    border-radius: 4px;
    background: @light-blue;
}

#custom-wifi {
  background: @teal-dim;
  border: 1px solid @light-blue;
  padding: 2px 14px;
}

#bluetooth {
  background: @teal-dim;
  border: 1px solid @light-blue;
  padding: 2px 10px;	
}

tooltip {
  background: rgba(94, 129, 172, 0.9);
  border: 1px solid @light-blue;
  border-radius: 6px;
}

tooltip label {
  color: @green;
  font-size: 11px;
  padding: 4px;
}

#taskbar {
  background: @teal-dim;
  border: 1px solid @light-blue;
}

#taskbar button {
  margin: 1px 2px;
  box-shadow: none;
}

#taskbar button:hover {
  background: rgba(129, 161, 193, 0.15);
  border: 1px solid @teal;
  box-shadow: none;
 }

#taskbar button.active {
  background: @light-blue-dim;
  border: 1px solid @light-blue;
  color: @green-dim;
}

